{%extends 'base.html' %}
{%include "flash_messages.html"%}
{% block main %}
  <div class="login-form center-block">
    <h2>Search</h2>
    <h4>Patient Diagnosis Search</h4>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('search') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.diagnosis.label }}
        {{ form.diagnosis(class='form-control', placeholder="Enter your diagnosis") }}
      </div>
      <div class="form-group">
        {{ form.fdate.label }}
        {{ form.fdate(class='form-control',type="date", placeholder="Enter your start date") }}
      </div>
      <div class="form-group">
        {{ form.tdate.label }}
        {{ form.tdate(class='form-control',type="date", placeholder="Enter your end date") }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Search</button>
    </form>
  </div>
{% endblock %}
